.questionItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 10px;
    border: 1px solid #ddd;
}

.questionContent {
    flex-grow: 1;
}

.removeButton {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: -2px;
}

.removeButton:hover {
    background-color: darkred;
}
